Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages that for Data Scientist
- List of commonly used libraries for Data Scientist
- List of commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. TensorFlow

|Data Science Tools|
|  --------------  |
|Jupyter Notebook|
|VS Code|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This is a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
  Robert Amundson